In [502]:
# Machine Learning 2 - Neural Network

# To load data via Google Drive
# from google.colab import drive
# drive.mount("/content/gdrive")
# dataFilePath = "/content/adult.txt"
# df = pandas.read_table(dataFilePath, header=1, delim_whitespace=True)
# df.head()

In [503]:
import pandas # used to read data into tabular format

# Census Income dataset used is taken from: https://archive.ics.uci.edu/ml/datasets/Adult

# Importing data into pandas dataframe object from .txt file saved in Dropbox
# I made file at this location public so may be able to run as is 
# else please import data to Google Drive or Dropbox and try importing using commented out method above or below 
dataFilePath = ("https://www.dropbox.com/s/adh0gvi8wynrrdf/adult.txt?dl=1")
df = pandas.read_table(dataFilePath, header=0, index_col=False, skipinitialspace=True, sep=',',
                       names=['Age', 'WorkClass', 'fnlwgt', 'Education', 'EducationNum', 'MaritalStatus', 'Occupation', 'Relationship', 'Race', 'Sex', 'CapitalGain', 'CapitalLoss', 'HoursPerWeek', 'NativeCountry', 'IncomeLevel'])
df.head()

   Age  WorkClass  fnlwgt  ... HoursPerWeek  NativeCountry IncomeLevel
0   38    Private   89814  ...           50  United-States      <=50K.
1   28  Local-gov  336951  ...           40  United-States       >50K.
2   44    Private  160323  ...           40  United-States       >50K.
3   18          ?  103497  ...           30  United-States      <=50K.
4   34    Private  198693  ...           30  United-States      <=50K.

[5 rows x 15 columns]

In [504]:
df.describe()

                Age        fnlwgt  ...   CapitalLoss  HoursPerWeek
count  16280.000000  1.628000e+04  ...  16280.000000  16280.000000
mean      38.768305  1.894334e+05  ...     87.904668     40.392260
std       13.849192  1.057177e+05  ...    403.117078     12.479715
min       17.000000  1.349200e+04  ...      0.000000      1.000000
25%       28.000000  1.167162e+05  ...      0.000000     40.000000
50%       37.000000  1.778295e+05  ...      0.000000     40.000000
75%       48.000000  2.383840e+05  ...      0.000000     45.000000
max       90.000000  1.490400e+06  ...   3770.000000     99.000000

[8 rows x 6 columns]

In [505]:
df.head()

   Age  WorkClass  fnlwgt  ... HoursPerWeek  NativeCountry IncomeLevel
0   38    Private   89814  ...           50  United-States      <=50K.
1   28  Local-gov  336951  ...           40  United-States       >50K.
2   44    Private  160323  ...           40  United-States       >50K.
3   18          ?  103497  ...           30  United-States      <=50K.
4   34    Private  198693  ...           30  United-States      <=50K.

[5 rows x 15 columns]

In [506]:
(df['WorkClass']=='?').sum()

963

In [507]:
df.shape

(16280, 15)

In [508]:
df=df[df['WorkClass'] != '?']

In [509]:
df.shape

(15317, 15)

In [510]:
(df['MaritalStatus']=='?').sum()

0

In [511]:
(df['Occupation']=='?').sum()

3

In [512]:
df=df[df['Occupation'] != '?']
df.shape

(15314, 15)

In [513]:
(df['Relationship']=='?').sum()

0

In [514]:
(df['Race']=='?').sum()

0

In [515]:
(df['Sex']=='?').sum()

0

In [516]:
(df['CapitalGain']=='?').sum()

0

In [517]:
(df['CapitalLoss']=='?').sum()

0

In [518]:
(df['HoursPerWeek']=='?').sum()

0

In [519]:
(df['NativeCountry']=='?').sum()

255

In [520]:
df=df[df['NativeCountry'] != '?']
df.shape

(15059, 15)

In [521]:
# Checking if all items are now 0 or 1 after mapping
print(df['IncomeLevel'].value_counts())

<=50K.    11359
>50K.      3700
Name: IncomeLevel, dtype: int64

In [522]:
df.dtypes

Age               int64
WorkClass        object
fnlwgt            int64
Education        object
EducationNum      int64
MaritalStatus    object
Occupation       object
Relationship     object
Race             object
Sex              object
CapitalGain       int64
CapitalLoss       int64
HoursPerWeek      int64
NativeCountry    object
IncomeLevel      object
dtype: object

In [523]:

df

       Age         WorkClass  fnlwgt  ... HoursPerWeek  NativeCountry IncomeLevel
0       38           Private   89814  ...           50  United-States      <=50K.
1       28         Local-gov  336951  ...           40  United-States       >50K.
2       44           Private  160323  ...           40  United-States       >50K.
4       34           Private  198693  ...           30  United-States      <=50K.
6       63  Self-emp-not-inc  104626  ...           32  United-States       >50K.
...    ...               ...     ...  ...          ...            ...         ...
16274   33           Private  245211  ...           40  United-States      <=50K.
16275   39           Private  215419  ...           36  United-States      <=50K.
16277   38           Private  374983  ...           50  United-States      <=50K.
16278   44           Private   83891  ...           40  United-States      <=50K.
16279   35      Self-emp-inc  182148  ...           60  United-States       >50K.

[15059 rows x 15 columns]

In [524]:
#converting categorical variables to numeric using LabelEncoder
from sklearn.preprocessing import LabelEncoder
objLEncoder = LabelEncoder()
encodedDF = df;
encodedDF.WorkClass = objLEncoder.fit_transform(df.WorkClass)
encodedDF.Education = objLEncoder.fit_transform(df.Education)
encodedDF.MaritalStatus = objLEncoder.fit_transform(df.MaritalStatus)
encodedDF.Occupation = objLEncoder.fit_transform(df.Occupation)
encodedDF.Relationship = objLEncoder.fit_transform(df.Relationship)
encodedDF.Race = objLEncoder.fit_transform(df.Race)
encodedDF.Sex = objLEncoder.fit_transform(df.Sex)
encodedDF.NativeCountry = objLEncoder.fit_transform(df.NativeCountry)
encodedDF.IncomeLevel = objLEncoder.fit_transform(df.IncomeLevel)
encodedDF.dtypes

Age              int64
WorkClass        int64
fnlwgt           int64
Education        int64
EducationNum     int64
MaritalStatus    int64
Occupation       int64
Relationship     int64
Race             int64
Sex              int64
CapitalGain      int64
CapitalLoss      int64
HoursPerWeek     int64
NativeCountry    int64
IncomeLevel      int64
dtype: object

In [525]:
encodedDF

       Age  WorkClass  fnlwgt  ...  HoursPerWeek  NativeCountry  IncomeLevel
0       38          2   89814  ...            50             37            0
1       28          1  336951  ...            40             37            1
2       44          2  160323  ...            40             37            1
4       34          2  198693  ...            30             37            0
6       63          4  104626  ...            32             37            1
...    ...        ...     ...  ...           ...            ...          ...
16274   33          2  245211  ...            40             37            0
16275   39          2  215419  ...            36             37            0
16277   38          2  374983  ...            50             37            0
16278   44          2   83891  ...            40             37            0
16279   35          3  182148  ...            60             37            1

[15059 rows x 15 columns]

In [526]:
encodedDF.describe()

                Age     WorkClass  ...  NativeCountry   IncomeLevel
count  15059.000000  15059.000000  ...   15059.000000  15059.000000
mean      38.769241      2.214888  ...      35.467495      0.245700
std       13.380649      0.966452  ...       5.881104      0.430516
min       17.000000      0.000000  ...       0.000000      0.000000
25%       28.000000      2.000000  ...      37.000000      0.000000
50%       37.000000      2.000000  ...      37.000000      0.000000
75%       48.000000      2.000000  ...      37.000000      0.000000
max       90.000000      6.000000  ...      39.000000      1.000000

[8 rows x 15 columns]

In [527]:
X = encodedDF[['Age', 'WorkClass', 'Education', 'EducationNum', 'MaritalStatus', 'Occupation', 'Relationship',
            'Race', 'Sex', 'CapitalGain', 'CapitalLoss', 'HoursPerWeek', 'NativeCountry']]
Y = encodedDF['IncomeLevel']
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y) #default: 75% training, 25% test

In [528]:
# Performing standardization 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scalar.fit(X_train)
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

In [529]:
#Checking that standardization was performed
temp = pandas.DataFrame(X_train, columns= ['Age', 'WorkClass', 'Education', 'EducationNum', 'MaritalStatus', 'Occupation', 'Relationship',
            'Race', 'Sex', 'CapitalGain', 'CapitalLoss', 'HoursPerWeek', 'NativeCountry'])
temp.describe()

                Age     WorkClass  ...  HoursPerWeek  NativeCountry
count  1.129400e+04  1.129400e+04  ...  1.129400e+04   1.129400e+04
mean  -1.211671e-16 -1.072337e-15  ... -9.054599e-16   4.019373e-16
std    1.000044e+00  1.000044e+00  ...  1.000044e+00   1.000044e+00
min   -1.623519e+00 -2.277515e+00  ... -3.311941e+00  -6.023993e+00
25%   -8.058856e-01 -2.215439e-01  ... -7.472985e-02   2.605697e-01
50%   -1.369128e-01 -2.215439e-01  ... -7.472985e-02   2.605697e-01
75%    6.807206e-01 -2.215439e-01  ...  3.402972e-01   2.605697e-01
max    3.802593e+00  3.890398e+00  ...  4.822589e+00   6.002758e-01

[8 rows x 13 columns]

In [530]:

#Different values for hiden layer sizes, activation function, max iteration, and learning rate were provided here and tracked in report table
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(10,30,30,30,10), activation='relu', max_iter=500, learning_rate_init=0.001 , learning_rate='invscaling',verbose=True)
mlp.fit(X_train, Y_train)
testPredictions = mlp.predict(X_test)
trainPredictions = mlp.predict(X_train)
from sklearn.metrics import classification_report, confusion_matrix

Iteration 1, loss = 0.56552213
Iteration 2, loss = 0.44606999
Iteration 3, loss = 0.41394422
Iteration 4, loss = 0.39570823
Iteration 5, loss = 0.38530512
Iteration 6, loss = 0.37499690
Iteration 7, loss = 0.36569643
Iteration 8, loss = 0.35657531
Iteration 9, loss = 0.34938107
Iteration 10, loss = 0.34410600
Iteration 11, loss = 0.34122435
Iteration 12, loss = 0.33803971
Iteration 13, loss = 0.33722363
Iteration 14, loss = 0.33476591
Iteration 15, loss = 0.33318972
Iteration 16, loss = 0.33117229
Iteration 17, loss = 0.33384287
Iteration 18, loss = 0.33091365
Iteration 19, loss = 0.32885479
Iteration 20, loss = 0.32831833
Iteration 21, loss = 0.32651675
Iteration 22, loss = 0.32587319
Iteration 23, loss = 0.32741622
Iteration 24, loss = 0.32565122
Iteration 25, loss = 0.32607364
Iteration 26, loss = 0.32457398
Iteration 27, loss = 0.32370911
Iteration 28, loss = 0.32313516
Iteration 29, loss = 0.32164347
Iteration 30, loss = 0.32284918
Iteration 31, loss = 0.32191206
Iteration 32, loss = 0.32101804
Iteration 33, loss = 0.31980270
Iteration 34, loss = 0.32002195
Iteration 35, loss = 0.31943065
Iteration 36, loss = 0.31867130
Iteration 37, loss = 0.31850974
Iteration 38, loss = 0.32249294
Iteration 39, loss = 0.31825778
Iteration 40, loss = 0.31819917
Iteration 41, loss = 0.31638035
Iteration 42, loss = 0.31704879
Iteration 43, loss = 0.31586863
Iteration 44, loss = 0.31546851
Iteration 45, loss = 0.31542447
Iteration 46, loss = 0.31524138
Iteration 47, loss = 0.31418211
Iteration 48, loss = 0.31477742
Iteration 49, loss = 0.31442609
Iteration 50, loss = 0.31534177
Iteration 51, loss = 0.31390160
Iteration 52, loss = 0.31298968
Iteration 53, loss = 0.31334335
Iteration 54, loss = 0.31335789
Iteration 55, loss = 0.31176192
Iteration 56, loss = 0.31231287
Iteration 57, loss = 0.31110731
Iteration 58, loss = 0.31161026
Iteration 59, loss = 0.31241410
Iteration 60, loss = 0.31109171
Iteration 61, loss = 0.31119575
Iteration 62, loss = 0.30946987
Iteration 63, loss = 0.30972405
Iteration 64, loss = 0.31019980
Iteration 65, loss = 0.30893979
Iteration 66, loss = 0.30908904
Iteration 67, loss = 0.30876763
Iteration 68, loss = 0.30962531
Iteration 69, loss = 0.30899065
Iteration 70, loss = 0.30760562
Iteration 71, loss = 0.30744519
Iteration 72, loss = 0.30744912
Iteration 73, loss = 0.30743428
Iteration 74, loss = 0.30710453
Iteration 75, loss = 0.30670640
Iteration 76, loss = 0.30644666
Iteration 77, loss = 0.30587566
Iteration 78, loss = 0.30561142
Iteration 79, loss = 0.30481333
Iteration 80, loss = 0.30371202
Iteration 81, loss = 0.30388399
Iteration 82, loss = 0.30403829
Iteration 83, loss = 0.30359495
Iteration 84, loss = 0.30266941
Iteration 85, loss = 0.30321175
Iteration 86, loss = 0.30245160
Iteration 87, loss = 0.30209019
Iteration 88, loss = 0.30232505
Iteration 89, loss = 0.30269677
Iteration 90, loss = 0.30130825
Iteration 91, loss = 0.30045073
Iteration 92, loss = 0.30012597
Iteration 93, loss = 0.30086008
Iteration 94, loss = 0.30052970
Iteration 95, loss = 0.29979339
Iteration 96, loss = 0.30061727
Iteration 97, loss = 0.29771825
Iteration 98, loss = 0.29831688
Iteration 99, loss = 0.29826460
Iteration 100, loss = 0.29837909
Iteration 101, loss = 0.29679668
Iteration 102, loss = 0.29658882
Iteration 103, loss = 0.29632237
Iteration 104, loss = 0.29612110
Iteration 105, loss = 0.29597817
Iteration 106, loss = 0.29659930
Iteration 107, loss = 0.29436757
Iteration 108, loss = 0.29629469
Iteration 109, loss = 0.29648126
Iteration 110, loss = 0.29537429
Iteration 111, loss = 0.29423742
Iteration 112, loss = 0.29356032
Iteration 113, loss = 0.29382432
Iteration 114, loss = 0.29307182
Iteration 115, loss = 0.29320196
Iteration 116, loss = 0.29395783
Iteration 117, loss = 0.29247209
Iteration 118, loss = 0.29445766
Iteration 119, loss = 0.29165957
Iteration 120, loss = 0.29077075
Iteration 121, loss = 0.29069948
Iteration 122, loss = 0.29088759
Iteration 123, loss = 0.29202891
Iteration 124, loss = 0.28947980
Iteration 125, loss = 0.28879884
Iteration 126, loss = 0.28918045
Iteration 127, loss = 0.28987600
Iteration 128, loss = 0.28911438
Iteration 129, loss = 0.28920497
Iteration 130, loss = 0.28810855
Iteration 131, loss = 0.28881236
Iteration 132, loss = 0.28739856
Iteration 133, loss = 0.28824804
Iteration 134, loss = 0.28749250
Iteration 135, loss = 0.28720378
Iteration 136, loss = 0.28698323
Iteration 137, loss = 0.28695752
Iteration 138, loss = 0.28755670
Iteration 139, loss = 0.28757084
Iteration 140, loss = 0.28723521
Iteration 141, loss = 0.28546152
Iteration 142, loss = 0.28651254
Iteration 143, loss = 0.28544100
Iteration 144, loss = 0.28738478
Iteration 145, loss = 0.28361584
Iteration 146, loss = 0.28732555
Iteration 147, loss = 0.28648216
Iteration 148, loss = 0.28477395
Iteration 149, loss = 0.28272326
Iteration 150, loss = 0.28301059
Iteration 151, loss = 0.28271705
Iteration 152, loss = 0.28357187
Iteration 153, loss = 0.28445270
Iteration 154, loss = 0.28356957
Iteration 155, loss = 0.28178938
Iteration 156, loss = 0.28141254
Iteration 157, loss = 0.28377586
Iteration 158, loss = 0.28581384
Iteration 159, loss = 0.28191321
Iteration 160, loss = 0.28124728
Iteration 161, loss = 0.28081736
Iteration 162, loss = 0.28103398
Iteration 163, loss = 0.27948442
Iteration 164, loss = 0.28037886
Iteration 165, loss = 0.28106520
Iteration 166, loss = 0.27952639
Iteration 167, loss = 0.28267366
Iteration 168, loss = 0.28269996
Iteration 169, loss = 0.28073676
Iteration 170, loss = 0.27841138
Iteration 171, loss = 0.27896821
Iteration 172, loss = 0.27892664
Iteration 173, loss = 0.27787630
Iteration 174, loss = 0.28020435
Iteration 175, loss = 0.27900968
Iteration 176, loss = 0.27774496
Iteration 177, loss = 0.27879429
Iteration 178, loss = 0.28068020
Iteration 179, loss = 0.27726408
Iteration 180, loss = 0.27747774
Iteration 181, loss = 0.27648616
Iteration 182, loss = 0.27604532
Iteration 183, loss = 0.27799676
Iteration 184, loss = 0.27549366
Iteration 185, loss = 0.27689717
Iteration 186, loss = 0.27563118
Iteration 187, loss = 0.27633669
Iteration 188, loss = 0.27449397
Iteration 189, loss = 0.27436249
Iteration 190, loss = 0.27456523
Iteration 191, loss = 0.27664036
Iteration 192, loss = 0.27573753
Iteration 193, loss = 0.27492519
Iteration 194, loss = 0.27612374
Iteration 195, loss = 0.27407840
Iteration 196, loss = 0.27168633
Iteration 197, loss = 0.27345470
Iteration 198, loss = 0.27402721
Iteration 199, loss = 0.27269056
Iteration 200, loss = 0.27267557
Iteration 201, loss = 0.27290251
Iteration 202, loss = 0.27290044
Iteration 203, loss = 0.27353507
Iteration 204, loss = 0.27144943
Iteration 205, loss = 0.27307474
Iteration 206, loss = 0.27084161
Iteration 207, loss = 0.27041843
Iteration 208, loss = 0.27062054
Iteration 209, loss = 0.27209403
Iteration 210, loss = 0.27290308
Iteration 211, loss = 0.26922630
Iteration 212, loss = 0.26829605
Iteration 213, loss = 0.27302820
Iteration 214, loss = 0.26976586
Iteration 215, loss = 0.26887589
Iteration 216, loss = 0.27247422
Iteration 217, loss = 0.26964204
Iteration 218, loss = 0.26975075
Iteration 219, loss = 0.26966697
Iteration 220, loss = 0.26896954
Iteration 221, loss = 0.26991711
Iteration 222, loss = 0.26844663
Iteration 223, loss = 0.27162759
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [531]:
print(confusion_matrix(Y_test, testPredictions))

[[2536  316]
 [ 342  571]]

In [532]:
print(classification_report(Y_test, testPredictions))

              precision    recall  f1-score   support

           0       0.88      0.89      0.89      2852
           1       0.64      0.63      0.63       913

    accuracy                           0.83      3765
   macro avg       0.76      0.76      0.76      3765
weighted avg       0.82      0.83      0.82      3765

In [533]:
print(classification_report(Y_train, trainPredictions))

              precision    recall  f1-score   support

           0       0.91      0.93      0.92      8507
           1       0.77      0.72      0.74      2787

    accuracy                           0.88     11294
   macro avg       0.84      0.83      0.83     11294
weighted avg       0.88      0.88      0.88     11294